.label {font-weight:bold;
    text-align: center;
    
  }


.textlabel {
    text-align: center;
    
  }




  .center{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 27px;
    display: block !important;
  }
  

  .data-table {
    min-width: 100px;

  }

  .data-col {
    background: #f0f0f0;

  }