ion-content {
    --padding-bottom: 15px;
    --padding-end: 15px;
    --padding-start: 20px;
    --padding-top: 20px;
  }

  .my-class {
    color:  #2ea1d7

  }

  .test-class {font-size: 15px !important;}

  h1{
  font-size: 1.3rem;
  }

  h2{
    font-size: 1.3rem;
    }

