<ion-header>
  <ion-toolbar>
    <ion-title> Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class = 'my-class'>
   
    <h1>FAQs </h1> 

  </ion-text>
  
  <ion-text color="dark">
    <p>Why we concern only concern about carbohydrate      
      and fat?
      The ketogenic diet is a very low-carb, high-fat   
      diet that shares many similarities with the Atkins and 
      low-carb diets. It involves drastically reducing  
      carbohydrate intake and replacing it with fat.
    </p>
  </ion-text>

  <ion-text color="dark">
    <p>What if I purchase items from stores are not in the   
      dropdown list of the food choice?
      Please add the new type of food with the plus  
      sign in the diet tracking page
    </p>
  </ion-text>

  <ion-text color="dark">
    <p>How to perform manual conversion on the food not   
      part of the dropdown list?
      Please first convert your food to 1 gram, and 
      then value how 1 gram of this type of food would             
      generate the amount of carbohydrate and fat in terms  
      of grams based on proportion. For instance, if 10 
      grams of such food generates 5.2 grams of 
      carbohydrate. Then 1 gram of the food would generate 
      0.52 grams of carbohydrate. To determine the  
      proportion, you need to divide 10 by the total food per  
      10g. 10g ÷ total food per 10g = 1 g food choice. Then 
      total carbohydrate per 5.2g ÷ total food per 10g = 0.52 
      g. Following such method would get you the desired 
      result.      
    </p>
  </ion-text>
  
  
  <ion-text class = 'my-class'>
    <h2 > GOSH Copyright 
    </h2>
  </ion-text>
  
  <p>
  All rights reserved. No part of this application may be   
 reproduced or used in any manner without written   
 permission. 
  </p>

</ion-content>
