<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="Record">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Record</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Setting">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="Information">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Information</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
